@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    transition: 0.4s ease-in-out;
}

.textgradient {
    background: #F6EBE4;
    background: linear-gradient(to right, #F6EBE4 0%, #23BBD5 49%, #F37264 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}