@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    transition: 0.4s ease-in-out;
}

#root {
    min-height: 100vh;
    overflow: auto;
    
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 9999px;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
    background-color: #23bbd5;
}

.oddy:nth-child(odd) {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.blurry {
    backdrop-filter: blur(8px);
}

.bg {
    background-color:hsla(183,0%,100%,1);
    background-image:
    radial-gradient(at 16% 0%, hsla(11,79%,79%,1) 0px, transparent 50%),
    radial-gradient(at 1% 57%, hsla(188,71%,48%,1) 0px, transparent 50%),
    radial-gradient(at 97% 4%, hsla(188,71%,48%,1) 0px, transparent 50%);
}

.texture {
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    mix-blend-mode: multiply;
}

.text-grad {
    background: #E49A35;
    background: linear-gradient(to right, #E49A35 0%, #F37264 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad {
    background-color:hsla(188,71%,48%,1);
    background-image:
    radial-gradient(at 50% 100%, hsla(121,0%,100%,1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(125,0%,100%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(288,0%,100%,1) 0px, transparent 50%);
}

.shade {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.03);
}